*.swp
Makefile.in
aclocal.m4
autoconf
autoheader
autom4te.cache
automake
compile
configure
config.guess
config.log
config.sub
config.status
Makefile
depcomp
install-sh
libtoolize
ltmain.sh
libtool
make/stamp-h1
m4
make/clusterautoconfig.h*
missing
*.pc
.deps
.libs
*.o
*.la
*.lo
gfs2/convert/gfs2_convert
gfs2/edit/gfs2_edit
gfs2/fsck/fsck.gfs2
gfs2/mkfs/mkfs.gfs2
gfs2/mount/mount.gfs2
gfs2/quota/gfs2_quota
gfs2/tool/gfs2_tool
group/gfs_control/gfs_control
group/gfs_controld/gfs_controld
