[Unit]
Description=GFS2 Control Daemon
After=syslog.target network.target cman.service
Before=remote-fs-pre.target
Wants=remote-fs-pre.target

[Service]
Type=forking
ExecStart=/usr/sbin/gfs_controld $OPTIONS

[Install]
WantedBy=multi-user.target
